# Check if parsing of original (downloaded from [here](http://panchenko.me/data/joint/dt-wiki-deps-jst-wpf1k-fpw1k-thr.csv-cw-e0-N200-n200-minsize15.csv.gz)) JB wiki clusters as implemented in TWSI_evaluation works correctly. For example, word column should contain words only. No mixed types errors sould occur.

In [1]:
from pandas import read_csv

user_inventory_fpath = "/home/pelevina/experiment/intermediate/wiki-clusters-dep-cw-e0-N200-n200-minsize15-count930408.csv"

user_inventory = read_csv(user_inventory_fpath, sep="\t", encoding='utf8', header=None, names=["word","sense_id","cluster"])

/home/pelevina/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
user_inventory.iloc[10].word

u'0'

In [4]:
user_inventory.iloc[0]

word            cid
sense_id    cluster
cluster        isas
Name: word, dtype: object

### File has a false header of 4 elements: word, cid, cluster, isas.
### This caused two probelms: 1. first and second raw incorrectly parsed. 2. Word column was interpreted as index column.
### Change header to 'word, cid, cluster', repeat parsing.

In [5]:
user_inventory = read_csv(user_inventory_fpath, sep="\t", encoding='utf8', header=None, names=["word","sense_id","cluster"])

/home/pelevina/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
user_inventory.iloc[10].word

u'Maximilian'

### Problem solved, now check the word column

In [7]:
user_inventory.head

<bound method DataFrame.head of                                                      word sense_id  \
0                                                    word      cid
1                                                     (ep        2
2                                                     (ep        3
3                                      minister-president        1
4                                      minister-president        3
5                                      minister-president        5
6                                      Minister-President        0
7                                      Minister-President        1
8                                      Minister-President        2
9                                                    Otto        0
10                                             Maximilian        0
11                                             Maximilian        1
12                                                elector        0
13                                                elector        1
14                                                elector        2
15                                                elector        3
16                                                 Amalie        0
17                                               Palatine        0
18                                               Palatine        1
19                                               Palatine        2
20                                                Duchess        0
21                                               Dorothea        0
22                                               Dorothea        1
23                                    Ministers-President        0
24                                    Ministers-President        3
25                                         Prince-elector        0
26                                         Prince-elector        1
27                                                Kingdom        0
28                                                Kingdom        1
29                                               Mathilde        1
...                                                   ...      ...
915843                                          heilbronn        0
915844                                              epoc.        0
915845                                      ...especially        0
915846                                         work-force        4
915847                                                as’        0
915848                                            Rosauro        0
915849                                 post-enlightenment        0
915850                                       three-to-six        0
915851                                      Welsh-Huggins        1
915852  α\t2\tn":0.006,g":0.005,∞:0.004,t":0.004,""k:0...      NaN
915853  α\t3\tformula_8:0.005,formula_3:0.004,formula_...      NaN
915854                                       re-arranging        0
915855                                                YMS        2
915856  expressively\t0\tbrilliantly:0.004,equally:0.0...      NaN
915857                                          written..        1
915858                                              3,217        0
915859                                              tuohy        0
915860                                              Olina        0
915861                                        Commandants        4
915862                                             opptak        0
915863                              medium-to-large-sized        0
915864                                              88–73        1
915865                                              3,668        0
915866                                          Odintsovo        1
915867                                           mid-1968        0
915868                                           mid-1968        1
915869                                       over-exposed       10
915870                                             geison        2
915871                                              Mourn       14
915872                                               20ha        0

                                                  cluster
0                                                 cluster
1       aged:0.041,§:0.03,n°:0.028,(episode:0.028,unbe...
2       (eps:0.02,Watanabe:0.013,Yamamoto:0.011,Kobaya...
3       secretary-general:0.007,president:0.006,chairm...
4       Minister-President:0.028,Landtag:0.013,Ministe...
5       Dorothea:0.006,Hedwig:0.006,Elisabeth:0.005,Am...
6       SPD:0.013,Count:0.01,CSU:0.008,Horst:0.007,CDU...
7       Chancellor:0.013,Minister:0.012,chairman:0.009...
8       minister-president:0.028,Ministers-President:0...
9       Karl:0.059,Friedrich:0.055,Wilhelm:0.055,Johan...
10      Napoleon:0.034,Charlemagne:0.032,monarch:0.03,...
11      Sigismund:0.064,Ferdinand:0.057,Ludwig:0.049,O...
12      duke:0.029,pope:0.023,monarch:0.02,clergy:0.02...
13      Elector:0.063,prince-elector:0.029,Electorate:...
14      delegate:0.05,people:0.041,household:0.037,vot...
15      candidate:0.043,reelection:0.036,senator:0.033...
16      Luise:0.06,Wilhelmine:0.057,Henriette:0.057,Am...
17      Bavarian:0.049,Prussian:0.041,Saxon:0.033,Bohe...
18      Duchess:0.055,Countess:0.042,daughter:0.032,co...
19      Elector:0.078,Margrave:0.075,Duke:0.071,Palati...
20      Duke:0.145,duchess:0.137,Countess:0.095,daught...
21      Wilhelmine:0.055,Henriette:0.054,Elisabeth:0.0...
22      von:0.03,Christoph:0.03,Friedrich:0.027,Wilhel...
23      Presidents:0.004,Representatives:0.003,Justice...
24      Minister-President:0.014,Landtag:0.013,ministe...
25      Elector:0.022,Margrave:0.015,elector:0.014,Ele...
26      Magdeburg:0.005,Cologne:0.005,Trier:0.005,Salz...
27      kingdom:0.162,king:0.088,throne:0.058,dynasty:...
28      Republic:0.112,Kingdoms:0.103,Spain:0.099,Stat...
29      Henriette:0.046,mathilde:0.046,Amalie:0.041,Lu...
...                                                   ...
915843  with:0.003,finals:0.002,against:0.002,amongst:...
915844  rec.:0.002,e.o.:0.002,k-9.:0.002,xvi.:0.002,55...
915845  here:0.008,specifically:0.008,regardless:0.008...
915846  workforce:0.004,labor:0.003,laborer:0.003,work...
915847  ‘in:0.003,except:0.003,as:0.003,at:0.003,"per:...
915848  Gregorio:0.003,Donato:0.002,Friar:0.002,Jaime:...
915849  Assyrian:0.004,Shia:0.003,Protestant:0.003,Sun...
915850  16:0.003,57:0.003,550:0.003,twenty-four:0.003,...
915851  Swanson:0.002,Scanlon:0.002,Byrnes:0.002,Gross...
915852                                                NaN
915853                                                NaN
915854  mastering:0.002,processing:0.002,embedding:0.0...
915855  sr:0.004,SR:0.004,CR:0.004,Minuscule:0.004,Rou...
915856                                                NaN
915857  print:0.003,illuminate:0.003,preserve:0.003,wr...
915858  200:0.002,20,000:0.002,275:0.002,600,000:0.002...
915859  moreover:0.002,strangely:0.002,duly:0.002,myst...
915860  Medical:0.004,Health:0.004,Animal:0.003,Episco...
915861  Senators:0.003,Purdue:0.002,Vikings:0.002,Knig...
915862  cutoff:0.002,examination:0.002,formality:0.002...
915863  medium-sized:0.003,inquisitive:0.002,female:0....
915864  20-6:0.002,1–4:0.002,3–0:0.002,2–1:0.002,5–2:0...
915865  1,800:0.002,1,600:0.002,8,600:0.002,5,200:0.00...
915866  Tbilisi:0.004,Moscow:0.003,Baku:0.003,Minsk:0....
915867  1960s:0.002,640:0.002,1,000:0.002,90:0.002,for...
915868  1913:0.003,1999:0.003,1937:0.002,1972:0.002,19...
915869  unexposed:0.002,under-reported:0.002,falter:0....
915870  molding:0.003,plate:0.003,truss:0.003,projecti...
915871  Laugh:0.004,Play:0.004,Need:0.004,Break:0.004,...
915872  196:0.002,254:0.002,7,000:0.002,208:0.002,fift...

[915873 rows x 3 columns]>

In [9]:
user_inventory[user_inventory.isnull().any(axis=1)].shape

(14508, 3)

### Clearly, some lines are parsed incorrectly (e.g. 915852). This is most probably due to doublequotes appearing in some words while doublequote is a default escape character for read_csv.  There are 14508 lines that have NaN values as a result. Change reading parameters and repeat.

In [10]:
user_inventory = read_csv(user_inventory_fpath, sep="\t", encoding='utf8', header=None, names=["word","sense_id","cluster"], doublequote=False, quotechar=u"\u0000")

In [11]:
user_inventory.head

<bound method DataFrame.head of                          word sense_id  \
0                        word      cid
1                         (ep        2
2                         (ep        3
3          minister-president        1
4          minister-president        3
5          minister-president        5
6          Minister-President        0
7          Minister-President        1
8          Minister-President        2
9                        Otto        0
10                 Maximilian        0
11                 Maximilian        1
12                    elector        0
13                    elector        1
14                    elector        2
15                    elector        3
16                     Amalie        0
17                   Palatine        0
18                   Palatine        1
19                   Palatine        2
20                    Duchess        0
21                   Dorothea        0
22                   Dorothea        1
23        Ministers-President        0
24        Ministers-President        3
25             Prince-elector        0
26             Prince-elector        1
27                    Kingdom        0
28                    Kingdom        1
29                   Mathilde        1
...                       ...      ...
930379          ...especially        0
930380             work-force        4
930381                    as’        0
930382                Rosauro        0
930383     post-enlightenment        0
930384           three-to-six        0
930385          Welsh-Huggins        1
930386                     "α        2
930387                     "α        3
930388              “Literacy        1
930389                  i-vi.        0
930390           re-arranging        0
930391                    YMS        2
930392          "expressively        0
930393              written..        1
930394                  3,217        0
930395                  tuohy        0
930396                  Olina        0
930397            Commandants        4
930398                 opptak        0
930399  medium-to-large-sized        0
930400                  88–73        1
930401                  3,668        0
930402              Odintsovo        1
930403               mid-1968        0
930404               mid-1968        1
930405           over-exposed       10
930406                 geison        2
930407                  Mourn       14
930408                   20ha        0

                                                  cluster
0                                                 cluster
1       aged:0.041,§:0.03,n°:0.028,(episode:0.028,unbe...
2       (eps:0.02,Watanabe:0.013,Yamamoto:0.011,Kobaya...
3       secretary-general:0.007,president:0.006,chairm...
4       Minister-President:0.028,Landtag:0.013,Ministe...
5       Dorothea:0.006,Hedwig:0.006,Elisabeth:0.005,Am...
6       SPD:0.013,Count:0.01,CSU:0.008,Horst:0.007,CDU...
7       Chancellor:0.013,Minister:0.012,chairman:0.009...
8       minister-president:0.028,Ministers-President:0...
9       Karl:0.059,Friedrich:0.055,Wilhelm:0.055,Johan...
10      Napoleon:0.034,Charlemagne:0.032,monarch:0.03,...
11      Sigismund:0.064,Ferdinand:0.057,Ludwig:0.049,O...
12      duke:0.029,pope:0.023,monarch:0.02,clergy:0.02...
13      Elector:0.063,prince-elector:0.029,Electorate:...
14      delegate:0.05,people:0.041,household:0.037,vot...
15      candidate:0.043,reelection:0.036,senator:0.033...
16      Luise:0.06,Wilhelmine:0.057,Henriette:0.057,Am...
17      Bavarian:0.049,Prussian:0.041,Saxon:0.033,Bohe...
18      Duchess:0.055,Countess:0.042,daughter:0.032,co...
19      Elector:0.078,Margrave:0.075,Duke:0.071,Palati...
20      Duke:0.145,duchess:0.137,Countess:0.095,daught...
21      Wilhelmine:0.055,Henriette:0.054,Elisabeth:0.0...
22      von:0.03,Christoph:0.03,Friedrich:0.027,Wilhel...
23      Presidents:0.004,Representatives:0.003,Justice...
24      Minister-President:0.014,Landtag:0.013,ministe...
25      Elector:0.022,Margrave:0.015,elector:0.014,Ele...
26      Magdeburg:0.005,Cologne:0.005,Trier:0.005,Salz...
27      kingdom:0.162,king:0.088,throne:0.058,dynasty:...
28      Republic:0.112,Kingdoms:0.103,Spain:0.099,Stat...
29      Henriette:0.046,mathilde:0.046,Amalie:0.041,Lu...
...                                                   ...
930379  here:0.008,specifically:0.008,regardless:0.008...
930380  workforce:0.004,labor:0.003,laborer:0.003,work...
930381  ‘in:0.003,except:0.003,as:0.003,at:0.003,"per:...
930382  Gregorio:0.003,Donato:0.002,Friar:0.002,Jaime:...
930383  Assyrian:0.004,Shia:0.003,Protestant:0.003,Sun...
930384  16:0.003,57:0.003,550:0.003,twenty-four:0.003,...
930385  Swanson:0.002,Scanlon:0.002,Byrnes:0.002,Gross...
930386  "n":0.006,g":0.005,∞:0.004,t":0.004,""k:0.004,...
930387  formula_8:0.005,formula_3:0.004,formula_17:0.0...
930388  Reading:0.003,Mathematical:0.002,Future:0.002,...
930389  ;:0.003,::0.003,.:0.003,ep.:0.002,subsp.:0.002...
930390  mastering:0.002,processing:0.002,embedding:0.0...
930391  sr:0.004,SR:0.004,CR:0.004,Minuscule:0.004,Rou...
930392  brilliantly:0.004,equally:0.003,incredibly:0.0...
930393  print:0.003,illuminate:0.003,preserve:0.003,wr...
930394  200:0.002,20,000:0.002,275:0.002,600,000:0.002...
930395  moreover:0.002,strangely:0.002,duly:0.002,myst...
930396  Medical:0.004,Health:0.004,Animal:0.003,Episco...
930397  Senators:0.003,Purdue:0.002,Vikings:0.002,Knig...
930398  cutoff:0.002,examination:0.002,formality:0.002...
930399  medium-sized:0.003,inquisitive:0.002,female:0....
930400  20-6:0.002,1–4:0.002,3–0:0.002,2–1:0.002,5–2:0...
930401  1,800:0.002,1,600:0.002,8,600:0.002,5,200:0.00...
930402  Tbilisi:0.004,Moscow:0.003,Baku:0.003,Minsk:0....
930403  1960s:0.002,640:0.002,1,000:0.002,90:0.002,for...
930404  1913:0.003,1999:0.003,1937:0.002,1972:0.002,19...
930405  unexposed:0.002,under-reported:0.002,falter:0....
930406  molding:0.003,plate:0.003,truss:0.003,projecti...
930407  Laugh:0.004,Play:0.004,Need:0.004,Break:0.004,...
930408  196:0.002,254:0.002,7,000:0.002,208:0.002,fift...

[930409 rows x 3 columns]>

### Now looks all lines are parsed correctly. Row number is correct. Words with doublequotes appear in the cluster. Check for NaN:

In [13]:
user_inventory[user_inventory.isnull().any(axis=1)]

       word sense_id                                            cluster
108795  NaN        1  SH:0.017,NH:0.017,CR:0.015,VT:0.015,HB:0.015,N...
108796  NaN        2  JA:0.034,JM:0.033,RA:0.029,DA:0.029,JL:0.028,A...
181715  NaN       10  Mazda:0.004,n/a:0.004,turbo:0.004,NA:0.004,tur...
181716  NaN       23  KS:0.003,STV:0.003,ICAO:0.003,EIS:0.003,HEX:0....
300525  NaN        3  Nan:0.012,Tian:0.005,Cong:0.004,bao:0.004,zhi:...
300526  NaN        9  Eilean:0.028,Coire:0.015,Mòr:0.014,Dearg:0.013...
300527  NaN       10  pancake:0.005,flatbread:0.004,ga:0.004,bread:0...
508753  NaN        3  dislocation:0.003,disturbance:0.002,gradient:0...
508754  NaN       14  −1:0.004,"y":0.003,"i":0.002,1.0):0.002,>:0.00...
549378  NaN        1  GB:0.003,byte:0.003,matching:0.003,sorting:0.0...
549379  NaN        4  null:0.004,permutation:0.003,function:0.003,un...
549380  NaN        6  Data:0.004,Triple:0.003,Null:0.003,Affine:0.00...

### Manual error analysis: in all these lines the word itself is spelled 'nan'.

# Conclusion

### Change parameters of TWSI reading of *user inventory* and of *TWSI dataset*. The later is relevant, because cluster words with doublequotes could get into the predicted_related_terms column through neighbours of sense vectors built on wiki JB clusters.